# Quick analysis of the VIE/VIA contracts available on

In [2]:
import pandas as pd

df = pd.read_json('Scrap_NoNA.json')

In [3]:
df = df[df['NumberOfJobs'] != 'N/A']
df

,NumberOfJobs,DesiredExperience,EducationLevel,Languages
1342,1,36,"bac+5 et plus , bac+4 , bac+2",Anglais ...
22566,1,12,"bac+5 et plus , bac+4 , bac+2",Allemand ...
24886,1,0,bac+3,"Français , Anglais ..."
25574,1,12,bac+5 et plus,Anglais ...
27293,1,12,bac+5 et plus,Allemand ...
...,...,...,...,...
33884,1,12,bac+5 et plus,"Français , Anglais"
33888,1,12,bac+5 et plus,Anglais ...
33891,1,12,"bac+5 et plus , bac+4 , bac+3","Français , Anglais"
33898,1,6,bac+5 et plus,Espagnol ...
33899,1,0,"bac+4 , bac+5 et plus",Anglais ...

In [21]:
offer_details = {}
offer_details['EducationLevel'] = "bac+2 , bac+4 , bac+5 et plus"
if 'bac ,' in offer_details['EducationLevel']:
    offer_details['EducationLevel'] = 0
else:
    for i in range(1,6):
        if 'bac+{i}' in offer_details['EducationLevel']:
            offer_details['EducationLevel'] = i
offer_details['EducationLevel']

'bac+2 , bac+4 , bac+5 et plus'